@page "/kompetenciak"

@using GeoProjectDemo.Data
@using GeoProjectDemo.Components
@using System.Dynamic
@using Telerik.DataSource
@using System.Collections
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@using System.Text;
@inject KompetenciaService KompetenciaService

<div class="pageContent">

    <TelerikMultiSelect Data="@Kategoriak" ValueField="Azonosito" TextField="Nev"
                        Value="@SelectedKategoriak"
                        ValueChanged="@( (List<long> v) => SelectedKategoriakChanged(v) )"
                        Placeholder="Válassz ki kategóriákat" Filterable="true"
                        Width="650px" ClearButton="true" AutoClose="false">
    </TelerikMultiSelect>

    @if ( Dolgozok == null )
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <TelerikGrid Data="@Dolgozok" class="kompetencia-grid smallerFont"
                     Resizable="true"
                     Pageable="false" Sortable="true" Reorderable="false"
                     EditMode="@GridEditMode.Inline"
                     FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu">
            <GridColumns>
                <GridColumn Title="Név" Field="Nev" FieldType="typeof(string)" Width="100px" Locked="true" />
                @foreach ( var komp in KompetenciaList )
                {
                    <GridColumn Field="@komp.PropertyNev" FieldType="typeof(string)"
                                Width="150px" Filterable="true" Sortable="true" Visible="@komp.IsVisible">
                        <HeaderTemplate>
                            <CustomGroupHeader ColumnName="@komp.Nev" IsFirst="@komp.IsFirstInGroup"
                                               ColumnGroupName="@KategoriaDict[komp.KategoriaAzonosito]" />
                        </HeaderTemplate>
                        <FilterMenuTemplate>
                            @{
                                theFilterContext[ komp.PropertyNev ] = context;
                            }

                            @foreach ( var szint in Szintek )
                            {
                                <div>
                                    <TelerikCheckBox Value="@(IsCheckboxInCurrentFilter(context.FilterDescriptor, szint))"
                                                     TValue="bool"
                                                     ValueChanged="@((value) => UpdatecheckedSzintek(value, szint, komp.PropertyNev))"
                                                     Id="@($"szint_{szint}")">
                                    </TelerikCheckBox>
                                    <label for=" @($"szint_{szint}")">
                                        @szint
                                    </label>
                                </div>
                            }
                        </FilterMenuTemplate>
                    </GridColumn>
                }
            </GridColumns>
        </TelerikGrid>

    }
</div>

@code {

    TelerikMultiSelect<string, string> KategoriaSelect { get; set; }

    Dictionary<string, FilterMenuTemplateContext> theFilterContext { get; set; }
    Dictionary<string, List<string>> checkedSzintek { get; set; }

    public Dictionary<long?, string> KategoriaDict { get; set; } = new Dictionary<long?, string>( );
    public List<string> Szintek;
    private List<ExpandoObject> Dolgozok;
    public List<Kompetencia> KompetenciaList = new List<Kompetencia>( );
    public List<KompetenciaKategoria> Kategoriak { get; set; } = new List<KompetenciaKategoria>( );
    public List<long> SelectedKategoriak { get; set; }

    protected override async Task OnAfterRenderAsync( bool first )
    {
        if ( !first )
            return;

        var res = await KompetenciaService.GetAdatok( );
        Szintek = res.Szintek;
        KompetenciaList = res.Kompetenciak;
        Dolgozok = res.Dolgozok;
        Kategoriak = res.Kategoriak;

        Kategoriak.ForEach( k => KategoriaDict.Add( k.Azonosito, k.Nev ) );
        SelectedKategoriak = Kategoriak.Select( k => k.Azonosito ).ToList( );

        theFilterContext = new Dictionary<string, FilterMenuTemplateContext>( );
        checkedSzintek = new Dictionary<string, List<string>>( );
        KompetenciaList.ForEach( x =>
        {
            theFilterContext.Add( x.PropertyNev, new FilterMenuTemplateContext( ) );
            checkedSzintek.Add( x.PropertyNev, new List<string>( ) );
        } );

        StateHasChanged( );
    }



    public bool IsCheckboxInCurrentFilter( CompositeFilterDescriptor filterDescriptor, string size )
    {
        var a = filterDescriptor.FilterDescriptors.Select( f => ( f as FilterDescriptor ).Value?.ToString( ) ).ToList( );
        // get all current filter descriptors and evaluate whether to select the current checkbox
        return filterDescriptor.FilterDescriptors.Select( f => ( f as FilterDescriptor ).Value?.ToString( ) ).ToList( ).Contains( size );
    }

    public void UpdatecheckedSzintek( bool value, string itemValue, string komp )
    {
        // update the list of items we want to filter by
        var isSizeChecked = checkedSzintek[ komp ].Contains( itemValue );
        if ( value && !isSizeChecked )
        {
            checkedSzintek[ komp ].Add( itemValue );
        }

        if ( !value && isSizeChecked )
        {
            checkedSzintek[ komp ].Remove( itemValue );
        }

        // prepare filter descriptor
        var filterDescriptor = theFilterContext[ komp ].FilterDescriptor;

        filterDescriptor.FilterDescriptors.Clear( );
        // use the OR logical operator so we include all possible values
        filterDescriptor.LogicalOperator = FilterCompositionLogicalOperator.Or;
        checkedSzintek[ komp ].ForEach( s =>
            // instantiate a filter descriptor for the desired field, and with the desired operator and value
            filterDescriptor.FilterDescriptors.Add( new FilterDescriptor( komp, FilterOperator.IsEqualTo, s ) )
        );

        //ensure there is at least one blank filter to avoid null reference exceptions
        if ( !filterDescriptor.FilterDescriptors.Any( ) )
        {
            filterDescriptor.FilterDescriptors.Add( new FilterDescriptor( ) );
        }
    }

    void SelectedKategoriakChanged( List<long> values )
    {
        SelectedKategoriak = values;
        KompetenciaList.ForEach( k => k.IsVisible = SelectedKategoriak.Contains( (long)k.KategoriaAzonosito ) );
    }


}
